<header>
    <div>Logo</div>


    <ul>
        <li>
            <a href="{% url 'base:index' %}">
                Home
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'base:about_us_page' %}">
                About us
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'base:contacts_page' %}">
                Contacts
            </a>
        </li>
        <li>
            <a href="{% url 'admin:index' %}">
                Admin
            </a>
        </li>
    </ul>
</header>